<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.codingxproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--remind_record activity-->
        <activity android:name=".remind_Record">

        </activity>

        <!--remind_DrugTaking activity-->
        <activity android:name=".remind_DrugTaking" >

        </activity>

        <!--remind_takedMedicine-->
        <activity android:name=".remind_takeMedicine" >

        </activity>

        <!--set_time-->
        <activity android:name=".set_time">

        </activity>

        <!--drug_time_page activity-->
        <activity android:name=".drug_time_page" >

        </activity>

        <!--drug_time activity-->
        <activity android:name=".drug_time" >

        </activity>

        <!--DateRecord activity-->
        <activity
            android:name=".DataRecord"
            android:label="@string/title_activity_data_record"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>