<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.codingxproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".MyStartActivity"></activity>
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataRecord.DataRecord_Heartbeat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainFunctionsWithBottomBar.HomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DailyDrugInfoAndAlarmSetting.NotificationSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataRecord.DataRecord_BloodPressure_DBP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataRecord.DataRecord_BloodPressure_SBP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataRecord.DataRecord_BloodSugar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataReview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailDrugMessage.DetailDrugInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailDrugMessage.DrugsInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrugTimePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Remind.RemindDrugGetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Remind.RemindRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Remind.RemindTakeMedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.UserAreaActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>