<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.codingxproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Splash"></activity>
        <activity android:name=".DataRecord.DataRecord_Heartbeat" />
        <activity android:name=".MainFunctionsWithBottomBar.HomePageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DailyDrugInfoAndAlarmSetting.NotificationSetting" />
        <activity android:name=".DataRecord.DataRecord_BloodPressure_DBP" />
        <activity android:name=".DataRecord.DataRecord_BloodPressure_SBP" />
        <activity android:name=".DataRecord.DataRecord_BloodSugar" />
        <activity android:name=".DataReview" />
        <activity android:name=".DetailDrugMessage.DetailDrugInfoActivity" />
        <activity android:name=".DetailDrugMessage.DrugsInfoActivity" />
        <activity android:name=".DrugTimePageActivity" />
        <activity android:name=".LoginRegister.LoginActivity" />
        <activity android:name=".LoginRegister.RegisterActivity" />
        <activity android:name=".Remind.RemindDrugGetActivity" />
        <activity android:name=".Remind.RemindRecordActivity" />
        <activity android:name=".Remind.RemindTakeMedActivity" />
        <activity android:name=".SetTimeActivity" />
        <activity android:name=".LoginRegister.UserAreaActivity" />
        <receiver android:name=".AlarmReceiver" android:process=":remote" />
    </application>

</manifest>